__pycache__
.venv/
build/
build-*/
assets/
asm/
.ninja_log
.splache
build.ninja
permuter_settings.toml
Makefile.custom
config/**/*.ld
config/**/undefined_syms_auto.txt
config/**/expected/
config/**/include/
config/**/cc-src/
config/**/tmp_*/
config/**/objdiff.json
# ignore elf files, such as config/us/SLUS_203.88
config/**/[A-Z][A-Z][A-Z][A-Z]_[0-9][0-9][0-9].[0-9][0-9]
.idea/
.vscode/
cmake-build-debug-mingw/
cmake-build-release-mingw/
/.vs
/out
cmake-build-mingw/
cmake-build-android-*/
.DS_Store
/cmake-build-mingw
/cmake-build-mingw/.cmake
/resources/shaders/spirv
/resources/shaders/msl
/resources/shaders/dxil
/cmake-build-switch-arm64
